
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interface</title>
</head>
<body>
    <div> 
        <h4>Các cách truyền tham số cho phương thức action</h4>
		<ul>
			<li><a href="~/Views/PTB1/UseRequest2.cshtml">Model</a></li>
			<li><a href="~/Views/PTB1/UseArguments.cshtml">D</a></li>
			<li><a href="~/Views/PTB1/UseFormCollection.cshtml">FormCollection</a></li>
			<li><a href="~/Views/PTB1/UseModel.cshtml">Model</a></li>
		</ul>
    </div>
</body>
</html>
