
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greeting</title>
</head>
<body>
    <div> 
        <h3>Chào các bạn lớp 63.CNTT4</h3>
    </div>
</body>
</html>
