
@{
    ViewBag.Title = "GioiThieu_63132095";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-family: Arial; font-size: 30px">THÔNG TIN SINH VIÊN</p>

<div style="display: flex;">
    <div class="col-md-1">
        <p>Mã sinh viên</p>
        <p>Họ tên</p>
        <p>Lớp</p>
        <p>Ngày kiểm tra</p>
    </div>
    <div class="col-md-11">
        <p>63132095</p>
        <p>Nguyễn Khắc Duy Hưng</p>
        <p>63.CNTT-4</p>
        <p>30/10/2023</p>
    </div>
</div>
