
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greeting</title>
</head>
<body>
    <div> 
        <h1>Chào tất cả các bạn lớp 63CNTT4</h1>
    </div>
</body>
</html>
