
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TinhToanMT</title>
</head>
<body>
    <div> 
        <form name="f1" action="Home/TinhToanMT">

        </form>
    </div>
</body>
</html>
