
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interface</title>
</head>
<body>
    <div> 
		<h1>Các cách truyền tham số cho phương thức action</h1>
		<ul>
			<li>
				<a href="~/PTB1/UseRequest">Request</a>
			</li>
			<li>
				<a href="~/PTB1/UseArguments">Đối số</a>
			</li>
			<li>
				<a href="~/PTB1/UseFormCollection">Form Collection</a>
			</li>
			<li>
				<a href="~/PTB1/UseModel">Model</a>
			</li>
		</ul>
    </div>
</body>
</html>
