
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>UseArguments</title>
</head>
<body>
	<div>
		<form name="f1" action="/PTB1/UseArguments" method="post">
			<div class="container">
				<div class="form">
					<h2>THỰC HIỆN PHÉP TOÁN PTB1 BẰNG CÁCH SỬ DỤNG ARGUMENTS</h2>
					Nhập a: <input type="text" name="a" /> <br />
					Nhập b: <input type="text" name="b" /> <br />
					<input type="submit" value="Tính toán" /><br />
					Kết quả: @ViewBag.KQ
				</div>
			</div>
		</form>
	</div>
</body>
</html>
